@media screen and (min-width: 768px) {

  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #hamburger {
    display: none;
  }

  #nav-menu {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
